*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    box-sizing: border-box;
    overflow: hidden;
}
/* section */
section{
    width: 100%;
    height: 100vh;
    position: absolute;
    top: 0;
    left: 0;
}
/* img1 */
section img{
    width: 120%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    animation: zoom-out 3s linear infinite;
}
@keyframes zoom-out{
    100%{
        width: 100%;
    }
}
/* container */
.container{
    width: 600px;
    position: absolute;
    top: 20%;
    left: 10%;
    color: white;
    animation: text-up 12s linear infinite;
    transform: translateY(100px);
}
.container h1{
    margin-bottom: 80px;
}
.container span{
    position: absolute;
    height: 2px ;
    width: 100px;
    background-color: red;
    top: 31%;
}


.section1{
    animation: slide-1 12s linear infinite;
}
.section2{
    animation: slide-2 12s linear infinite;
}
.section3{
    animation: slide-3 12s linear infinite;
}
.section4{
    animation: slide-4 12s linear infinite;
}
@keyframes slide-1{
    0%{
        visibility: visible;
    }
    25%{
        visibility: hidden;
    }
    50%{
        visibility: hidden;
    }
    75%{
        visibility: hidden;
    }
    100%{
        visibility: hidden;
    }
}
@keyframes slide-2{
    0%{
        visibility: hidden;
    }
    25%{
        visibility: hidden;
    }
    50%{
        visibility: visible;
    }
    75%{
        visibility: hidden;
    }
    100%{
        visibility: hidden;
    }
}
@keyframes slide-3{
    0%{
        visibility: hidden;
    }
    25%{
        visibility: hidden;
    }
    50%{
        visibility: hidden;
    }
    75%{
        visibility: visible;
    }
    100%{
        visibility: hidden;
    }
}
@keyframes slide-4{
    0%{
        visibility: hidden;
    }
    25%{
        visibility: hidden;
    }
    50%{
        visibility: hidden;
    }
    75%{
        visibility: hidden;
    }
    100%{
        visibility: visible;
    }
}

@keyframes text-up{
    10%{
        transform: translateY(0px);
    }
    100%{
        transform: translateY(0px);
    }
}
.container1{
    animation-delay:0s ;
}
.container2{
    animation-delay:3s ;
}
.container3{
    animation-delay:6s ;
}
.container4{
    animation-delay: 9s;
}