*{  
    box-sizing: border-box;
}

body{
    background-color: rgba(128, 128, 128, 0.514);
    margin: 0;
    padding: 0;
}

.container{
    background-color: white;
    margin: 5px;
    padding: 10px;
    border: 3px solid black;
    height: 500px;
   display:flex;
   flex-direction: row;
   flex-wrap: wrap;
   justify-content:center;
   align-items: center;
   align-content:flex-start ;
}

.box1{
    background-color: orange;
    border: 2px solid black;
    margin: 5px;
}

.box2{
    background-color: rgba(255, 166, 0, 0.87);
    border: 2px solid black;
    width: 150px;
    margin: 5px;
}

.box3{
    background-color: rgba(255, 166, 0, 0.87);
    border: 2px solid black;
    height: 150px;
    margin: 5px;
}

.box4{
    background-color: rgba(255, 166, 0, 0.527);
    border: 2px solid black;
    width: 200px;
    height: 150px;
    margin: 5px;
}

.box5{
    background-color: rgba(255, 166, 0, 0.37);
    border: 2px solid black;
    width: 200px;
    margin: 5px;
}

.box6{
    background-color: rgba(255, 166, 0, 0.37);
    border: 2px solid black;
    width: 200px;
    margin: 5px;
}
