.container{
    margin: 50px 0 0 50px;
    background-color: wheat;
    width: 80%;

    display: grid;
    grid-template-columns:minmax(150px, 1fr) 1fr 1fr min-content;
    grid-template-rows: repeat(2,minmax(150px,min-content));

    grid-gap: 10px;
}
.ex1{
    background-color: tomato;
}
.ex2{
    background-color: skyblue;
}
.ex3{
    background-color: orange;
}
.ex4{
    background-color: orangered;
}
.ex5{
    background-color: olivedrab;
}
.ex6{
    background-color: hotpink;
}
.ex7{
    background-color: greenyellow;
}
.ex8{
    background-color: blueviolet;
}