*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    box-sizing: border-box;
}
section{
    width: 100%;
    height: 100vh;
    background-image: linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)),url(https://images.ctfassets.net/usf1vwtuqyxm/2n8JnRmzLJdYzM4SoIzVLL/3dea9275b3be7b5aef314aeb89d7616a/release_1_hagrids_hut__1_.png?fm=jpg&q=70&w=2560);
    background-position: center;
    background-size: cover;
}
.container{
    background-color: black;
    width: 35%;
    height: 420px;
    color: #fff;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.avtar{
    width: 100px;
    height: 100px;
    border-radius: 50%;
    position: absolute;
    top: -50px;
    left: calc(50% - 50px);
}
/* form */
form{
    margin: 70px 20px 10px 20px;
}
form h2{
    text-align: center;
    padding: 10px;
}
form p{
    font-size: 16px;   
    padding: 15px;
}
form .input{
    background-color: transparent;
    padding: 4px 8px;
    border: none;
    border-bottom: 2px solid gray;
}
button{
    width: 100%;
    margin-top: 20px;
    border-radius: 5px;
    padding: 5px 10px;
    background-color: orangered;
    border: 2px solid orangered;
    cursor: pointer;
}
section .data{
    text-align: center;
    margin: 7px;
    color: gray;
    font-size: 12px;
    cursor: pointer;
}

@media screen and (max-width:600px) {
    .container{
        width: 80%;
    }
}
