*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}


/* background-img */

section{
    width: 100%;
    height: 100vh;
    background-image: linear-gradient(rgba(0,0,0,0.75),rgba(0,0,0,0.75)),url(https://cdn.cnn.com/cnnnext/dam/assets/210917102721-frilufleadbartone-interiors-lissa-gotwals-photography2.jpg);
    background-position: center;
    background-size: cover;
}

/* navigation */

.navigation{
    width: 85%;
    margin: auto;
    padding: 35px 0;
    display: flex;
    align-items: center;
    justify-content: space-around;
    cursor: pointer;
    
}
.icon{
    color: white;
    font-size: 40px;
}
ul li{
    display: inline-block;
    list-style: none;
    margin: 0 20px ;
    position: relative;
}
ul li a{
    color: white;
    text-decoration: none;
}

ul li::after{
    content: " ";
    height: 3px;
    width: 0;
    background-color: turquoise;
    position: absolute;
    left: 0;
    bottom: -10%;
    transition: 0.5s;
}
ul li:hover:after{
    width: 100%;
}


/* content */
.content{
    width: 100%;
    text-align: center;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    color: white;
    
}
.content h1{
    font-size: 50px;
    margin:  20px 0;
}
.content p{
    font-size: 15px;
    line-height: 25px;
}

/* button */
button{
    width: 200px;
    background-color: transparent;
    margin: 20px 10px;
    padding: 15px;
    border-radius: 25px;
    border: 2px solid turquoise;
    color: white;
    position: relative;
}
span{
    width: 0;
    height: 100%;
    border-radius: 25px;
    position: absolute;
    background-color: turquoise;
    position: absolute;
    left: 0;
    bottom: 0;
    z-index: -1;
    transition: 0.5s;
    overflow: hidden;
    cursor: pointer;
    font-weight: bold;
}
button:hover span{
    width: 100%;

}
button:hover{
    border: none;
}


@media screen and (max-width:720px) {
    ul li{
        display: flex;
        flex-flow: column;
        margin-bottom: 8px;
    }
}
