*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

section{
    width: 100%;
    height: 100vh;
    background-image: linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)),url(https://hdwallsource.com/img/2014/5/images-26820-27536-hd-wallpapers.jpg);
    background-attachment: fixed;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
}
.search-bar{
    width: 100%;
    background-color: white;
    opacity: 0.2;
    max-width: 600px;
    height: 60px;
    border-radius: 65px;
    display: flex;
    align-items: center;
    padding: 10px 20px;
    backdrop-filter: blur(4px) saturate(180%);
}
.search-bar input{
    background-color: transparent;
    border: none;
    outline: none;
    flex: 1;
    padding: 24px 20px;
    font-size: 20px;
    
}
::placeholder{
    color:black;
}
button .icon{
    width: 40px;
    color: white;
}
button{
    border: none;
    border-radius: 50%;
    width: 45px;
    height: 45px;
    background-color: black;
}
