*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    box-sizing: border-box;
}
body{
    background-color: rgba(211, 211, 211, 0.486);
}

/* header */
header{
    text-align: center;
}
header h1{
    margin: 40px 0 40px 0;
    color: #05b4b4;
}

/* container */
section{
    width: 60%;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: center;
   
}
.container{
    width: 270px;
    height: 250px;
    background-color: white;
    box-shadow: 0 0 15px lightgray;
    padding: 10px;
    margin: 10px;
    border-radius: 6px;
}
.container img{
    width: 80px;
    height: 80px;
    border-radius: 60px;
    text-align: center;
    margin-bottom: 10px;
}
.container-img{
    width: 100%;
    text-align: center;
}
.content{
    text-align: center;
    line-height: 25px;
}
.content h1{
    color: #05b4b4;
    font-size: 25px;
    padding: 0 0 10px 0;
}
.content p{
    font-size: 14px;
    line-height: 20px;
    margin-bottom: 10px;
}
.content button{
    background-color:#05b4b4 ;
    padding: 8px 16px;
    border-radius: 3px;
    font-weight: 600;
    text-transform: uppercase;
    width: 130px;
    border: none;
    box-shadow: 1px 1px 1px 1px white;
}
span{
    padding: 0 0 0 6px;
}

@media screen and (max-width:700px) {
    section{
        width: 100%;
        display: flex;
        flex-direction: column;
    }
    .container{
        width: 290px;
        height: 250px;
        margin: 20px;
    }
}