html{
    background: rgba(128, 128, 128, 0.623);
    margin: 15px;
    padding: 15px;
    border: 5px solid white;
    height: 2000px;
}

body{
    background: orange;
    padding: 20px;
    margin: 10px;
    border: 3px solid black;
    
}
   
.box{
    background: white;
    padding: 20px;
    border: 5px solid black;
    margin: 10px;
}
.box h2{
    background: rgba(128, 128, 128, 0.664);
    color: white;
   padding: 5px;
   margin: 10px;
   border: 4px solid black;
}
.box .heading{
    background-color: orange;
    position: sticky;
    top: 20px;
}
