.dropdown{
    background-color: rgba(0,0,0,0.5);
    width: 100%;
    height: 100%;
    z-index: 100;
    position: fixed;
    top: 0;
    left: 0;
}
.box{
    position: fixed;
   
    width: 48%;
    z-index: 200px;
    top: 20%;
    left: 25%;
    background-color: white;
    padding: 16px;
    border: 1px solid #ccc;
    text-align: center;
    box-shadow: 1px 1px 1px rgba(0,0,0,0.5);
}
h2{
   text-align: center;
   margin: 0 0 16px 0;

}
.button{
    text-align: center;
}

.yes{
    background-color: green;
    padding: 8px 12px;
    color: white;
    font: inherit;
    text-decoration: none;
    border-radius: 4px ;
}
.no{
    background-color: red;
    padding: 9px 12px;
    color: white;
    border: white;
    text-decoration: none;
    border-radius: 4px;
  
}