*{
    box-sizing: border-box;
}
body{
    margin: 0;
    padding: 0;
  
}

/* header */
header{
   
    position: sticky;
    top: 0;
    background-color:white ;
    box-shadow: 2px 2px 3px lightgray;
    font-family: 'Times New Roman', Times, serif;
    display: flex;
    justify-content: space-between;
    align-items: center;
    letter-spacing: 5px;
}
ul{
    list-style: none;
    display: flex;
    flex-wrap: wrap;
}
header a{
    text-decoration: none;
    color: black;
    padding: 8px 16px;
}
header a:hover{
    background-color: lightgray;
}


/* description */
.details{
    margin: 70px 100px;
}
.description{
    display: flex;  
    margin-bottom: 100px;
}
.description img{
    width: 50%;
}
.a{
    font-size: 40px;
    letter-spacing: 5px;
    margin-left: 20px;
}
.b , .hidden{
    letter-spacing: 3px;
    margin-left: 20px;
}


/* our-menu */
menu{
    display: flex;
    font-family: 'Times New Roman', Times, serif;
    margin-top: 100px;
    padding: 0;
    margin-bottom: 100px;
}
.main{
    text-align: center;
    font-size: 50px;
}

.data{
    color: gray;
}

.burger img{
    width: 80%;
    margin-left: 25px;
}

/* contact */
.contact{
    margin-top: 100px;
    font-family: 'Times New Roman', Times, serif;
}
.h1{
    text-align: center;
    font-size: 50px;
}
input{
    width: 100%;
    margin: 5px;
    padding: 10px 18px;
    border: none;
    border-bottom:1px solid gray ;
}
button{
    background-color: rgba(211, 211, 211, 0.651);
    margin-top: 20px;
    padding: 8px 16px;
    border: none;
}
button:hover{
    background-color: rgba(128, 128, 128, 0.616);
}

/* footer */
footer{
    background-color: rgba(211, 211, 211, 0.651);
    padding: 50px;
    text-align: center;
}


@media screen and (max-width:800px ) {
    .hidden{
        display: none;
    }
}
@media screen and (max-width:600px) {
    .description img{
        width: 100%;
    }
    .description{
        flex-flow: wrap;
    }
    .hidden{
        display: block;
    }
}
@media screen and(max-width:490px) {
    ul{
        display: flex;
        flex-wrap: wrap;
    }
}
@media screen and (max-width:900px) {
    .burger img{
        flex-wrap: wrap;
        width: 100%;
    }
}


