body{
    margin: 0;
    padding: 0;
}
.main-header{
    background-color:rgba(14, 241, 14, 0.979);
     width: 100%;
     padding: 8px 16px;
 }
 .main-header>div{
     display: inline-block;
     vertical-align: middle;
 }
 .nav-main{
     display: inline-block;
     text-align: right;
    width:calc(100% - 74px);
 }
 .nav-item{
     margin: 0;
     padding: 0;
     list-style-type: none;
 }
 .nav-li{
     display: inline-block;
     margin: 0 16px;
 }
 .icon{
     font-size: 30px;
     color: darkgreen;
 }
 .nav-li a{
     color: darkgreen;
     text-decoration: none;
     font-weight: bold;
 }
 .nav-li a:hover, 
 .nav-li a:active{
     color: white;
     border-bottom: 5px solid white;
 }
 .nav-li-link4 a{
    color: white;
     background-color: rgba(255, 0, 0, 0.753);
     padding: 4px 10px;
     border-radius: 4px;
 }
 .nav-li-link4 a:hover{
     background-color: white;
     color: red;
     text-decoration: none;
 }
.form-title{
    color: red;
    text-align: center;
}
main{
    margin-top: 20px;
}
.singup-form{
    padding: 8px;
}
label{
    font-weight: bold;
}
.button{
    background-color: darkgreen;
    color: white;
    font: inherit;
    border: 1.5px solid green;
    padding: 8px;
    border-radius: 8px;
    font-weight: bold;
    cursor: pointer;

}

.button:hover,
.button:active{
    background-color: white;
    color: green;
}
.button:focus{
    outline: none;
}

.singup-form label,
.singup-form input,
.singup-form select{
    display: block;
    width: 100%;
    margin-top: 16px;
}

.singup-form input.invalid,
.singup-form select.invalid,
.singup-form :invalid{
    border: 2px solid red ;
    background-color: lightsalmon;
}

.singup-form input:not([type="checkbox"]),
.singup-form select{
    border: 2px solid lightgray;
    padding: 8px 2px;
    font: inherit;
    border-radius: 4px;
}

.singup-form input:focus{
    outline: none;
    border: 2px solid green;
    background-color: rgba(144, 238, 144, 0.849);
}

.singup-form input[id*="terms"],
.singup-form input[id*="terms"]+label{
    display: inline-block;
    width: auto;
    vertical-align: bottom;
}

.singup-form button[type="submit"]{
    display: block;
    margin-top: 16px;
}

.singup-form input[type="checkbox"]{
    border: 1px solid lightgray;
    background: white;
    width: 16px;
    height: 16px;
   -webkit-appearance: none;
   -moz-appearance: none;
   appearance: none;
}

.singup-form input[type="checkbox"]:checked{
    border: 1px solid green;
    background: lightgreen;
}

.footer{
    background-color: black;
}
.footer1 li{
    display: inline-block;
    list-style-type: none;
    padding: 20px;
}
.footer1 li a{
    color: white;
    text-decoration: none;
}
.footer1{
    text-align: center;
}

@media (min-width:600px) {
    .singup-form{
        margin: auto;
        width: 500px;
    }
}


