*{
    font-size: 16px;
}

@import url('https://fonts.googleapis.com/css2?family=Comforter&family=Shizuru&display=swap');

body{
    margin: 0;
    padding: 0;
    /* font-family: Arial, Helvetica, sans-serif; */
    /* overflow-y: hidden !important; */
}
.background{
    background-image: url("https://iso.500px.com/wp-content/uploads/2019/11/Man-doing-postproduction-of-his-photos-on-laptop-at-night-By-Carina-Konig-1500x1000.jpg") ;
    background-size: cover;
    width: 100%;
    height: 100%;
    position: fixed;
    z-index: -1;
}
.main-header{
    background-color:rgba(9, 228, 9, 0.671);
    width: 100%;
    padding: 8px 16px;
    top: 0;
    left: 0;
    z-index: 1;
    color: black;
}
.main-header>div{
    display: inline-block;
    vertical-align: middle;
}

.nav-main{
    display: inline-block;
    text-align: right;
   width:calc(100% - 74px);
}
.nav-item{
    margin: 0;
    padding: 0;
    list-style-type: none;
}
.nav-li{
    display: inline-block;
    margin: 0 16px;
}
.home{
    color: darkgreen;
    font-weight: bold;
    text-decoration: none;

}

.nav-li a{
    color: darkgreen;
    text-decoration: none;
    font-weight: bold;
}
.nav-li a:hover, 
.nav-li a:active{ color: white;
    border-bottom: 5px solid white;
}
.nav-li-link4 a{
   color: white;
    background-color: rgba(255, 0, 0, 0.753);
    padding: 4px 10px;
    border-radius: 4px;
}
.nav-li-link4 a:hover{
    background-color: white;
    color: red;
    text-decoration: none;
}

.main{
    min-height: calc(100vh - 3.5rem - 8rem);
}
.container{
    width: 80%;
   border: 4px solid green;
   padding: 16px;
   margin: 6px 0;
   margin-left: none;
   position: relative;
   overflow: hidden;
}
.container a{
    display: block;
    text-decoration: none;
    color: inherit;
    padding: 7px;
}
.container-heading{
    color: black;
}
.container-sub-heading{
    color: gray;
}
.container-data{
    color: green;
    border: 1px solid green;
    background-color: white;
    padding: 4px;
    font-family: 'Comforter', cursive;
    font-weight:700;
}
.box{
    position: absolute;
    top: 0;
    right: 0;
    background-color: orangered;
    color: white;
    padding: 5px;
    transform: rotateZ(45deg) translateX(3.7rem) translateY(-1rem);
    transform-origin: center;
    width: 12rem;
    text-align: center;
}

#plus{
    background-color: rgba(144, 238, 144, 0.63);
    border-left: none;
    position: relative;
    top: 8px;
}
#free{
    background-color: rgba(144, 238, 144, 0.356);
    border-right: none;
    float: right;
}
#premium{
     background-color: darkgreen;
}
.clearfix{
    clear: both  ;
}
.container:hover{
    border: 4px solid red;
    box-shadow: 2px 2px 4px 4px gray;
}

.footer{
    background-color: black;
}
.footer1 li{
    display: inline-block;
    list-style-type: none;
    padding: 20px;
}
.footer1 li a{
    color: white;
    text-decoration: none;
}
.footer1{
    text-align: center;
}
@media (min-width:700px) {
    main{
        margin: 48px auto;
        max-width: 1000px
    }
}
@media (min-width:700px) {
    #plus{
        border-left: 5px solid green;
    }
    #free{
        border-right: 5px solid green;
    }
}
@media (min-width:700px) {
   #plus:hover{
       border-left-color: red;
   }
   #free:hover{
       border-right-color: red;
   }
}
