html{
    background-color: rgba(128, 128, 128, 0.781);
    margin: 15px;
    padding: 15px;
    border: 4px solid white;
    height: 2000px;
}
body{
    background-color: white;
    margin: 0;
    padding: 10px;
    border: 5px solid black;
    height: 400px;
}
.navigation, .header, .contact{
    padding: 20px;
    margin: 10px;
    border: 5px solid black;
    position: fixed;
}
.navigation{
   background-color: coral;
    border: 4px solid black;
    padding: 8px;
    width: 200px;
    margin: 10px;
    top: 100px;
    left: 150px;
}
.header{
    background-color: blue;
    color: white;
    border: 4px solid black;
    padding: 5px ;
    height: 150px;
    width: 200px;
    margin: 10px;
    top: 130px;
    left: 200px;
    z-index: 3;
}
.image1{
    background-color: gray;
    border: 3px solid black;
    padding: 4px;
    width: 100px;
    margin: 5px;
    position: fixed;
   top: 180px;
   left: 220px;
   z-index: 1;
}
.image2{
    background-color: gray;
    border: 3px solid black;
    padding: 4px;
    width: 100px;
    margin: 5px;
    position: fixed;
    top: 200px;
    left: 240px;
    z-index: 3;
}
.image3{
    background-color: gray;
    border: 3px solid black;
    padding: 4px;
    width: 100px;
    margin: 5px;
    position: fixed;
    top: 220px;
    left: 260px;
    z-index: 2;
}
.contact{
    background-color: green;
    border: 4px solid black;
    padding: 5px;
    width: 200px;
    margin: 10px;
    top: 150px;
    left: 300px;
    z-index: 4;
}