*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    box-sizing: border-box;
}
main{
    display: flex;
    width: 100%;
    height: 100%;
}

/* left-column */
.left-column{
    flex-basis: 30%;
    height: 800px;
    background-color: orangered;
    position: relative;
}
.menu-icon {
    margin: 40px;
    font-size: 30px;
    color: white;
}
.left-tittle{
   margin-left: 120px;
   margin-top:-15px ;
}
.white-bar{
    position: absolute;
    width:65% ;
    height:2%;
    background-color: white;
    top: 180px;
    right: 0;
}
.quetation{
    position: absolute;
    top: 270px;
    right: 0;
    left: 60px;
}
.quetation .quet1{
    color: gray;
    position: absolute;
    top: -50px;
    left: -45px;
    font-size: 40px;
}
.quetation .quet2{
    color: gray;
    position: absolute;
    bottom: -50px;
    right: 10px;
    font-size: 40px;
}
.design img {
    position: absolute;
    bottom: 15%;
    right: -70px;
    width: 100%;
    height: auto;
}
.arrow1{
    font-size: 28px;
    border: 4px solid white;
    color: white;
    position: absolute;
    bottom: 26%;
    left: 25px;
    border-radius: 50%;
    height: 40px;
    width: 40px;
    text-align: center;
}
.arrow2{
    font-size: 28px;
    border: 4px solid white;
    color: white;
    position: absolute;
    bottom: 18%;
    left: 25px;
    border-radius: 50%;
    height: 40px;
    width: 40px;
    text-align: center;
}
.season{
    position: absolute;
    display: flex;
    justify-content: space-between;
    bottom: 28%;
    left: -127px;
    transform: rotateZ(-90deg);
    list-style: none;
    
}
.season li{   
    margin: 10px;
    color: white;
    font-size: 12px;  
}


/* right-column */
.right-column {
   flex-basis: 70%;   
   height: 750px;
   position: relative;
}
.navigation{
    position: absolute;
    right: 45px;
    top: 85px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 12px;
}
.navigation ul li{
    display: inline-block;
    margin: 0 40px;
}
.red-bar{
    position: absolute;
    width:280px;
    height:15px;
    background-color: orangered;
    top: 180px;
    left: 0;
}
.red-bar span{
    position: absolute;
    width:6px;
    height:15px;
    background-color: orangered;
    top: 0;
    left:287px ;
}
.container{
    display: flex;
    margin: 20px;
    position: absolute;
    top: 30%;
}
.description{
    width: 40%;
}
.description h1{
   font-size: 30px;
}
.description p{
    font-size: 12px;
    line-height: 20px;
}
.big-img{
    display: flex;
    position: absolute;
    width: 60%;
}
.menu2{
    position: absolute;
    right: 0;
    top:30% ;
}
.trending{
    margin-left: 220px;
    font-size: 50px;
    color: lightgray;
    transform: rotateZ(-90deg);
}
.big-img img{
    margin-left:-250px;
}

